$border-color: #3F3F42;
$border-type: solid;
$border-grueso: 5px;
$border-fino: 2.5px;

@media (min-width: 1024px) {
    .app_container_body_R {
        height: 65vh;
        display: grid;
        grid-template-columns: 1fr;

        .acb_div_Nota {
            display: grid;
            height: 65vh;
            grid-template-rows: 1.5fr 0.5fr;

            .acb_text_R {
                display: grid;
                padding: 1.5vmin;
                font-size: 7vmin;
                text-align: justify;
                border: $border-type $border-grueso $border-color;
                border-top: 0;
                border-bottom: 0;
            }

            .acb_text_by {
                display: grid;
                padding: 1.5vmin;
                font-size: 6vmin;
                text-align: right !important;
            }
        }

        .acb_div_Urgencia {
            display: grid;
            height: 65vh;
            .acb_text_R {
                display: grid;
                height: 65vh;
                border: $border-type $border-grueso $border-color;
            }
        }
    }
}
