$border-color: rgb(151, 96, 96);
$border-type: solid;
$border-grueso: 5px;
$border-fino: 2.5px;

$font-body-text-color: white;

.app_container_body_R {

    height: 50vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
   
    .acb_text_R {
        
        display: grid;
        padding: 3vmin;
        color: $font-body-text-color;
        font-size: 10vmin;
        text-align: justify;
        border: $border-type $border-grueso $border-color;
        border-bottom: 0;
    }

    .acb_text_by {
        
        display: grid;
        padding: 3vmin;
        color: $font-body-text-color;
        font-size: 10vmin;
        border: $border-type $border-grueso $border-color;
        border-top: 0;
        //Centra el contenido
        
        text-align: right !important;
    }
}


//Phone Resolution