$border-color: rgb(151, 96, 96);
$border-type: solid;
$border-grueso: 5px;
$border-fino: 2.5px;

$font-body-text-color: white;

.app_container_body_R {

    height: 65vh;
    display: grid;
    grid-template-columns: 1fr;
    
    .acb_text_R {
        
        padding: 5vmin;
        color: $font-body-text-color;
        font-size: 5vmin;
        text-align: justify;
        border: $border-type $border-grueso $border-color;
        border-top: 0;
        
    }
}
