$border-color: rgb(151, 96, 96);
$border-type: solid;
$border-grueso: 5px;
$border-fino: 2.5px;

$font-total-value-color: red;
$font-deliveryNotes-value-color: yellow;
$font-orders-value-color: yellow;
$font-countdown-value-color: red;

.app_container_header_R {

    height: 50vh;
    display: grid;
    grid-template-columns: 1;
    grid-template-areas: 
    "top"
    "botton"
    ;    

    //Div DeliveryNotes, Total, Orders
    .ach_data_R {

        
        display: grid;
        grid-area: botton;
        align-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        border: $border-type $border-grueso $border-color;
        border-top: 0;
        border-bottom: 0;
    }

    //Div countdown
    .ach_countdown_R {
        display: grid;
        grid-area: top;
        align-content: center;
        border: $border-type $border-grueso $border-color;
    }

    .ach_total_R {
        
        border-right: $border-type $border-grueso $border-color;
        border-left: $border-type $border-grueso $border-color;
    }

    .ach_deliveryNotes_R, .ach_total_R, .ach_orders_R {

        display: grid;
        align-content: center;

    }

    //Valor delivery notes
    .ach_dn_value_R {
        color: $font-deliveryNotes-value-color;
    }

    //Valor total
    .ach_t_value_R {
        
        color: $font-total-value-color;
    }

    //Valor orders
    .ach_o_value_R {
        
        color: $font-orders-value-color;
    }

    //valor countdown
    .ach_c_value_R, .ach_c_value_R_4 {
        
        color: $font-countdown-value-color;
    }

    .ach_dn_value_R, .ach_t_value_R, .ach_o_value_R, .ach_c_value_R, .ach_c_value_R_4 {
        
        font-size: 20vmin;
        font-family: 'scoreboard';
    }

    .ach_c_value_R_4 {
        font-size: 15vmin;
    }
    
}