$border-color: rgb(151, 96, 96);
$border-type: solid;
$border-grueso: 5px;
$border-fino: 2.5px;

@media (min-width: 1024px) {
    
    .app_container_body {
        height: 65vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "left center right";

        .acb_deliveryNotes {
            grid-area: left;
            border: $border-grueso $border-type $border-color;
            border-right: $border-fino $border-type $border-color;
            border-top: $border-fino $border-type $border-color;
        }

        .acb_total {
            grid-area: center;
            border: $border-grueso $border-type $border-color;
            border-right: $border-fino $border-type $border-color;
            border-left: $border-fino $border-type $border-color;
            border-top: $border-fino $border-type $border-color;
        }

        .acb_orders {
            grid-area: right;
            border: $border-grueso $border-type $border-color;
            border-left: $border-fino $border-type $border-color;
            border-top: $border-fino $border-type $border-color;
        }

        .acb_dn_text,
        .acb_t_text,
        .acb_o_text {
            font-size: 5vw;
        }

        .acb_dn_value,
        .acb_t_value,
        .acb_o_value {
            font-size: 21vw;
        }

    }
}
