$border-color: #3F3F42;
$border-type: solid;
$border-grueso: 5px;
$border-fino: 2.5px;

$font-total-text-color: white;
$font-total-value-color: red;
$font-deliveryNotes-text-color: white;
$font-deliveryNotes-value-color: red;
$font-orders-text-color: white;
$font-orders-value-color: red;


.app_container_body {

    height: 66vh;
    display: grid;
   grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "top"
    "center"
    "botton";
    
    .acb_deliveryNotes{

        grid-area: top;
        border: $border-grueso $border-type $border-color;   
    }

    .acb_total{

        grid-area: center;
        border: $border-grueso $border-type $border-color;    
        border-top: 0;
        border-bottom: 0;
    }

    .acb_orders{

        grid-area: botton;
        border: $border-grueso $border-type $border-color;

    }

    .acb_dn_text {
        color: $font-deliveryNotes-text-color;
    }
    
    .acb_t_text {
        color: $font-total-text-color;
    }
    
    .acb_o_text{
        color: $font-orders-text-color;
    }
    
    .acb_dn_text, .acb_t_text, .acb_o_text {
    
        
        
        font-family: 'orbitron';
        font-size: 9vw;;
    }
    
    
    .acb_dn_value, .acb_t_value, .acb_o_value {
    
      
        color: yellow;
        font-size: 20vw;
        font-family: 'scoreboard';
    }
    
    .acb_t_value{
        color: $font-total-value-color;
    }

}
