$border-color: #3F3F42;
$border-type: solid;
$border-grueso: 5px;
$border-fino: 2.5px;

$font-countdown-text-color: greenyellow;
$font-countdown-value-color: red;

.app_container_header {
    height: 34vh;
    box-sizing: border-box;
    border: $border-type $border-grueso $border-color;
    border-bottom: $border-fino $border-type $border-color;
    display: grid;
    grid-template-columns: 1fr;

    .ach_text {
        display: grid;
        align-content: center;
        font-family: "orbitron";
        color: $font-countdown-text-color;
        font-size: 9vmin;
    }

    .ach_value, .ach_value_4 {
        display: grid;
        align-content: center;
        font-family: "scoreboard";
        color: $font-countdown-value-color;
        font-size: 20vmin;
    }

    .ach_value_4 {
        font-size: 15vmin;
    }
}
